.empleoCard{
  padding: 2rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  &:last-child{
    border-bottom: 0;
  }
  &.ocultar{
    display: none;
  }
  .empleo{
    display: flex;
    gap: 0.5rem ;
    justify-content: space-between;

    .empleoColumn1{
      max-width: 800px;
      header{
        h3 {
          padding-bottom: 0.4rem;
          .titulo {
            text-decoration: none;
            color: inherit;
            &:hover {
              text-decoration: underline;
            }
          }
        }
        p{
          font-size: 1rem;
          color: rgba(255, 255, 255, 0.5);
          padding-bottom: 0.7rem;
        }
      }
      p{
        font-size: 1rem;
        color: rgba(255, 255, 255, 0.8);
      }
    }
    .empleoColumn2{
      display: flex;
      flex-direction: column;
      gap: .5rem;
      text-align: center;
      .detalles {
        color: var(--celeste-clarito);
        background: none;
        cursor: pointer;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
      button{
        border: none;
        padding: 0.7rem 1.2rem;
        color: #fff;
        background-color: var(--celeste-clarito);
        font-weight: 500;
        border-radius: 10px;
        &:hover{
          background-color: color-mix(in srgb, var(--celeste-clarito) 70%,transparent);
        }
        &.clickeado{
        background-color: #4a5;
        pointer-events: none;
        opacity: 0.6;
        }
        &:disabled {
          opacity: .7;
          pointer-events: none;
        } 
      }
    }
  }
}