*{
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
:root{
  --azul-principal:#101922;
  --azul-clarito:#1e293b;
  --celeste-clarito:#1170cf;
  --gris:#334155;
  --text-muted: #6c757d;
} 
.header{    
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--azul-principal);
  padding: 1rem 2rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  .brand{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    a{
      color: #fff;
      text-decoration: none;
    }
    font-weight: bold;
  }
  ul{
    list-style: none;
    display: flex;
    gap: 2.5rem;
    margin: 0;
    padding: 0;
    a{
      color: #fff;
      text-decoration: none;
      font-size: 1.1rem;
      font-weight: 450;

      &:hover{
        color: var(--celeste-clarito);
      }
    }
    .isActive {
      color: var(--celeste-clarito);
      opacity: .5;
      pointer-events: none;
      
    } 
  }
  .actions{
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    button {
      border: none;
      padding: 0.7rem 1.2rem;
      color: #fff;
      background-color: var(--celeste-clarito);
      font-weight: 500;
      border-radius: 10px;
      &:hover{
        background-color: color-mix(in srgb, var(--celeste-clarito) 70%,transparent);
      }
      &.clickeado{
      background-color: #4a5;
      pointer-events: none;
      opacity: 0.6;
      } 
    }
  }
}