.hero{
  min-height: 30vh;
  header{
    text-align: center;
    padding: 2rem 3rem;
    h1{
      font-size: 3rem;
      padding-bottom: 1rem;
    }
    p{
      font-size: 1.1rem;
    }
  }
  form{
    position: relative;
    z-index: 1;
    text-align: center;
    padding: 0.5rem;
    max-width: 1000px;
    width: 100%;
    margin: auto;
    input{
      width: 100%;
      border: 0;
      border-radius: 10px;
      padding: 16px 48px 16px 20px;
      outline: none;
      background-color: var(--azul-clarito);
      color: #fff
    }
    button{
      position: absolute;
      right: 12px;
      top: 50%;
      transform: translateY(-50%);
      background: none;
      border: none;
      padding: 8px;
      cursor: pointer;
      svg{
        color: var(--gris);
      }
    }
  }
  nav{
    max-width: 1000px;
    padding: 0.5rem;
    display: flex;
    align-content: center;
    margin: 0 auto;
    gap: 1rem;

    select{
      border: none;
      border-radius: 10px;
      padding: 0.5rem;
      background-color: var(--azul-clarito);
      color: #fff;
    }
  }
} 
