.pagination{
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-block: 2rem;
  a{
    display: flex;
    color: #fffa;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    width: 2.5rem;
    height: 2.5rem;
    &:hover, &:focus{
      background-color: rgba(255, 255, 255, 0.1);
    }
    &.estasAqui{
      background-color: var(--celeste-clarito);
      color: #fff;
      pointer-events: none;
    }
  }
}