*{
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
body{
  color: #fff;
  background-color: var(--azul-principal)
}
:root{
  --azul-principal:#101922;
  --azul-clarito:#1e293b;
  --celeste-clarito:#1170cf;
  --gris:#334155;
}
/* Navegación */
.navbar{
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--azul-principal);
  padding: 1rem 2rem;
}
.navbar__brand{
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.navbar__brand-name{
  font-weight: bold;
}
.navbar__menu{
  list-style: none;
  display: flex;
  gap: 2.5rem;
  margin: 0;
  padding: 0;
}
.navbar__link{
  color: #fff;
  text-decoration: none;
  font-size: 1.1rem;
  /* transition: color 0.3s; */
}
.navbar__link:hover{
  color: var(--celeste-clarito);
}
.navbar__actions{
  display: flex;
}
.btn{
  padding: 0.5rem 1rem;
  border-radius: 10px;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 500;
  margin: 0 5px;
  /* transition: background 0.3s; */
}
.btn--primary{
  background-color: var(--azul-clarito);
  color: var(--celeste-clarito);
}
.btn--secondary{
  background-color: var(--gris);
  color: #fff;
}
/* Hero */
.hero{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  position: relative;
  height: 55vh;
}
/**/
.hero::after { 
  content: "";
  position: absolute;
  inset: 0; /* top:0; right:0; bottom:0; left:0 */
  background: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.8));
  z-index: 0.5; /* entre la imagen (0) y el texto (1) */
}
/**/
.hero__image{
  width: 100%;
  height: 100%;
  object-fit: cover; /* Mantiene su proporción*/
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
.hero__title{
  position: relative;
  font-size: 4rem;
  text-align: center;
  z-index: 1;
}
.hero__text{
  position: relative;
  font-size: 1.4rem;
  text-align: center;
  z-index: 1;
  max-width: 800px;
}
.hero__search{
  position: relative;
  z-index: 1;
  text-align: center;
  padding: 8px;
  max-width: 750px;
  width: 100%;
}
.hero__search input{
  width: 100%;
  border: 0;
  border-radius: 10px;
  padding: 16px 48px 16px 20px;
  outline: none;
  background-color: var(--azul-clarito);
  color: #fff
}

.hero__search .btn__search {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  padding: 8px;
  cursor: pointer;
}
.btn__search svg{
  color: var(--gris);
}
/* Features */
.features{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  min-height: 30vh;
  padding: 5rem 0;
}
.features__title{
  font-size: 2.5rem;
}
.features__description{
  font-size: 1.2rem;
  max-width: 700px;
  text-align: center;
}
.features-cards{
  display: flex;
  gap: 1.5rem;
  padding: 0 1rem;
  flex-wrap: wrap;
  justify-content: center;
}
.feature-card{
  background-color: var(--azul-clarito);
  padding: 32px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 10px;
  max-width: 450px;
}
.feature-card svg{
  margin: 0 auto;
  width: 48px;
  height: 48px;
}
.feature-card__title{
  font-size: 1.2rem;
}
/* Footer */
.footer{
  text-align: center;
  padding: 32px 16px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
