*{
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
:root{
  --azul-principal:#101922;
  --azul-clarito:#1e293b;
  --celeste-clarito:#1170cf;
  --gris:#334155;
  --text-muted: #6c757d;
}
body{
  background-color: var(--azul-principal);
  color: #fff;

  .navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--azul-principal);
    padding: 1rem 2rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);

    .navbar__brand{
      display: flex;
      align-items: center;
      gap: 0.5rem;

      .navbar__brand-name{
        font-weight: bold;
      }
    }

    .navbar__menu{
      list-style: none;
      display: flex;
      gap: 2.5rem;
      margin: 0;
      padding: 0;

      .navbar__link{
        color: #fff;
        text-decoration: none;
        font-size: 1.1rem;
        /* transition: color 0.3s; */
        &:hover{
          color: var(--celeste-clarito);
        }
      }
    }

    .navbar__actions{
      display: flex;
      gap: 0.5rem;
      align-items: center;
      justify-content: center;

      .btn{
        padding: 0.5rem 1rem;
        border-radius: 10px;
        text-decoration: none;
        font-size: 1.1rem;
        font-weight: 500;
        margin: 0 5px;
        /* transition: background 0.3s; */
      }

      .btn--primary{
        background-color: var(--azul-clarito);
        color: var(--celeste-clarito);
      }
    }
  }
  main{

    .hero{
      min-height: 30vh;

      header{
        text-align: center;
        padding: 2rem 3rem;

        h1{
          font-size: 3rem;
          padding-bottom: 1rem;
        }

        p{
          font-size: 1.1rem;
        }
      }
      .hero__search{
        position: relative;
        z-index: 1;
        text-align: center;
        padding: 0.5rem;
        max-width: 1000px;
        width: 100%;
        margin: auto;

        input{
          width: 100%;
          border: 0;
          border-radius: 10px;
          padding: 16px 48px 16px 20px;
          outline: none;
          background-color: var(--azul-clarito);
          color: #fff
        }

        .btn__search {
          position: absolute;
          right: 12px;
          top: 50%;
          transform: translateY(-50%);
          background: none;
          border: none;
          padding: 8px;
          cursor: pointer;

          svg{
            color: var(--gris);
          }
        }
      }
      .filters{
        max-width: 1000px;
        padding: 0.5rem;
        display: flex;
        align-content: center;
        margin: 0 auto;
        gap: 1rem;

        select{
          border: none;
          border-radius: 10px;
          padding: 0.5rem;
          background-color: var(--azul-clarito);
          color: #fff;
        }
      }
    }
    .empleo__container{
      max-width: 1000px;
      padding: 0.5rem;
      margin: auto;

      .empleo__list{
        margin-top: 2rem;
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 10px;

        article{
          padding: 2rem;
          border-bottom: 1px solid rgba(255, 255, 255, 0.1);
          &:last-child{
            border-bottom: 0;
          }
          &.ocultar{
            display: none;
          }

          .empleo{
            display: flex;
            gap: 0.5rem ;
            justify-content: space-between;

            .empleo__column1{
              max-width: 800px;

              .empleo__title{
                padding-bottom: 0.4rem;
              }
              
              .empleo__empresa{
                font-size: 1rem;
                color: rgba(255, 255, 255, 0.5);
                padding-bottom: 0.7rem;
              }

              .empleo__descripcion{
                font-size: 1rem;
                color: rgba(255, 255, 255, 0.8);
              }
            }
            .empleo__column2{

              .empleo__aplicar{
                border: none;
                padding: 0.7rem 1.2rem;
                color: #fff;
                background-color: var(--celeste-clarito);
                font-weight: 500;
                border-radius: 10px;
                &:hover{
                  background-color: color-mix(in srgb, var(--celeste-clarito) 70%,transparent);
                }
                &.clickeado{
                background-color: #4a5;
                pointer-events: none;
                opacity: 0.6;
                } 
              }
            }
          }
        }
      }
      .pagination{
        display: flex;
        justify-content: center;
        gap: 0.5rem;
        margin-block: 2rem;

        a{
          display: flex;
          color: #fffa;
          text-decoration: none;
          align-items: center;
          justify-content: center;
          border-radius: 5px;
          width: 2.5rem;
          height: 2.5rem;
          &:hover, &:focus{
            background-color: rgba(255, 255, 255, 0.1);
          }
          &.estas__aqui{
            background-color: var(--celeste-clarito);
            color: #fff;
            pointer-events: none;
          }
        }
      }
    }

  }
  
  .footer{
    text-align: center;
    padding: 32px 16px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }
}
