.card{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 20px;
  div{
    display: flex;
    margin-bottom: 15px;
    a{
      padding: 5px 15px 5px 0;
      text-decoration: none;
      color: #fff;
      font-size: 12px;
      &:hover{
        text-decoration: underline;
      }
    }
    span{
      display: flex;
      svg{
        color: #fff;
        align-self: center;
        width: 9px;
        height: 9px;
      }
    }
    .linkActual{
      font-size: 12px;
      padding: 5px 15px;
    }
  }
}