.card{
  border: 1px solid var(--white-15);
  border-radius: 12px;
  height: 100%;
  h3{
    font-weight: normal;
    font-size: 15px;
    padding: 20px 30px;
    border-bottom: 1px solid var(--white-15);
  }
  .toolbar{
    display: flex;
    flex-direction: column;
    font-size: 15px;
    padding: 20px 30px;
    span{
      margin-bottom: 10px;
    }
    .option{
      font-size: 14px;
      border: 1px solid var(--rojo-principal-40);
      margin-bottom: 10px;
      padding: 10px;
      background-color: var(--rojo-principal-20);
      border-radius: 5px;
      text-align: center;
      transition: background-color .1s, border 3s;
      &:hover{
        background-color: var(--rojo-principal-70);
      }
    }
  }
}