.footer{
  padding-top: 20px;
  background-color: #1f2223;
  .container{
    padding-bottom: 16px;
    border-bottom: 1px solid color-mix(in srgb, #fff 15%, transparent);
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
    .containerRows{
      display: flex;
      padding: 0 15px;
      justify-content: space-around;
      gap: 6rem;
      div{
        display: flex;
        flex-direction: column;
        gap: 0.7rem;
        ul{
          list-style: none;
          padding: 0;
          display: flex;
          flex-direction: column;
          gap: 0.5rem;
          a{
            text-decoration: none;
            color: color-mix(in srgb, #fff 50%, transparent);
            font-size: 14px;
            &:hover{
              text-decoration: underline;
            }
          }
          span{
            font-size: 14px;
          }
        }
      }
    }
  }
  .footerBottom{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2rem 0;
    .copyright{
      font-size: 13px;
      color: color-mix(in srgb, #fff 50%, transparent);
    }
    .socialLinks{
      ul{
        list-style: none;
        display: flex;
        align-items: center;
        padding: 0;
        gap: 1.5rem;
        svg{
          width: 25px;
          fill: color-mix(in srgb, #fff 50%, transparent);
        }
      }
    }
  }
}