.card{
  padding: 12px;
  border: 1px solid #34383a;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  margin: 0 15px;
  .media{
    position: relative;
    margin-bottom: 12px;
    a{
      width: 100%;
      height: auto;
      img{
        width: 100%;
        height: auto;
        aspect-ratio: 1/1;
      }
    }
    span{
      display: inline-block;
      padding: 4px 10px;
      background-color: var(--rojo-secundario);
      border-radius: 6px;
      font-size: 12px;
      position: absolute;
      left: 0;
      top: 0;
    }
  }
  .content{
    display: flex;
    flex-direction: column;
    .tags{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 5px;
      p, span{
        padding: 3px 15px;
        color: var(--oferta-text);
        background-color: color-mix(in srgb, var(--oferta-text) 10%, transparent);
        border-radius: 5px;
        font-size: 12px;
      }
      span{
        color: var(--delivery-text);
        background-color: color-mix(in srgb, var(--delivery-text) 10%, transparent);

      }

    }
    .info{
      margin-top: 15px;
      h3{
        margin-bottom: 10px;
        a{
          text-decoration: none;
          color: color-mix(in srgb, #fff 85%, transparent)
        }
      }
      .price{
        display: inline-flex;
        flex-direction: column;
        s{
          color: color-mix(in srgb, #fff 50%, transparent);
          margin-bottom: 3px;
          font-size: 14px;
        }
        span{
          color: var(--rojo-principal);
          font-weight: 700;
        }
        .visuallyHidden {
          position: absolute;
          width: 1px;
          height: 1px;
          margin: -1px;
          padding: 0;
          border: 0;
          overflow: hidden;
          clip: rect(0 0 0 0);
          white-space: nowrap;
        }
      }
    }
  }
}