body{
    background-color: #121212;
    color: #f3f1f1;
}
/*Selectores de texto*/
li{
    color:green;
}
span{
    color:blue;
}
.noTengo{
    color:red;
}
#queso{
    color:yellow;
}
/*Propiedades de texto*/
h1{
    font-family:"Lucida Sans";
    font-size: 50px;
    text-align: center;
    text-decoration: underline;
}
span{
    font-weight: bold; /*bold=700*/
    font-style: italic;
}
#title{
    text-transform: capitalize;
}
/*Box model*/
div{
    width: 200px;
    background-color:chocolate;
    /*Border*/
    border: 3px solid black;
    border-radius: 10px;
}
#caja{
    color: black;
    text-align: center;
    padding: 10px;
}
#form{
    padding: 5px;
    background-color: violet;
    width: 200px;
    margin:auto
}
input{
    margin: 5px;
    border: none;
    background: transparent;
    border-bottom: 1px solid pink;
    color: black;
}
input::placeholder{
    color: pink;
}
.formSubmit{
    background-color: pink;
    color: violet;
    border-radius: 4px;
}
img[src="../Html/Imagenes/argos.jpg"]{
    width: 100%; 
    /*(src$="png") busca los que terminan en "png"
    (src^="argos") busca los que empiezan por "argos"*/
}
ul strong{} /*Strong dentro de ul*/
ul>strong{} /*Strong hijo directo de ul*/
h1+p{} /*Inmediato P que va después de h1 SE MODIFICA P*/
h1:has(+div){} /*Si h1 tiene un div inmediatamente después SE MODIFICA H1*/
h1~p{} /*Todos los P que vaya después de h1*/
h1:hover{} /*Cuando el mouse está encima de h1*/
h1:active{} /*Cuando se hace click en h1*/
li:first-child{} /*Primer hijo li*/
li:last-child{} /*Último hijo li*/
li:nth-child(2){} /*Segundo hijo li entre los li*/
li:nth-child(2n){} /*Hijos li en posición par*/
li:nth-of-type(2){} /*Segundo hijo li entre todos los li*/
.lista li:not(.excluir){} /*li que no tenga la clase excluir dentro de .lista*/
div:empty{}
imput:checked{} /*Input que esté seleccionado*/
a:link{} /*Enlace no visitado*/
a:visited{} /*Enlace visitado*/
/*IS*/
section .elemento1,
section .elemento2,
section .elemento3{}
/*Es lo mismo que:*/
section :is(.elemento1, .elemento2, .elemento3) {} /*Más espicificidad*/
section :where(.elemento1, .elemento2, .elemento3) {} /*Menos especificidad*/
section:has(.elemento1){} /*Si tiene un elemento1 dentro de section*/
h1::first-letter{} /*Primera letra de h1*/
div::first-line{} /*Primera línea de div*/
h1::selection{} /*Texto seleccionado de h1*/
input::placeholder{} /*Placeholder de input*/
li::marker{} /*Marcador de li*/
li::before{} /*Antes de li*/
li::after{} /*Después de li*/

