*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  background-color: #191919;
  color: #fff;
  font-family: system-ui;
  display: grid;
  place-content: center;
  min-height: 100vh;
}
main{
  display: flex;
  flex-direction: column;
  gap: 16px ;
}