body { 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: black;
    color: white;
}
.card {
    background-color:rosybrown ;
    text-align: center;
    width: 50%;
    margin: 23%;
}
h1 {
    padding: 10%;
}
h2 {
    font-size: 110%;
    padding: 0;
}